body{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.top {
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 50px;
}
.header{
    margin-bottom:50px;
}
.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 45px;
    font-size: 24px;
    color: #f9faf8;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 45px;   
    margin-right: 45px;
}

a{
    color: #f9faf8;
    text-decoration: none;

}

.top-content{
    display:flex;
   justify-content: center;
   
   
   
}

.top-left{
    max-width: 450px;
}

.main-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

 .sub-text{
    color:#e5e7eb;
    font-size: 18px;
}

.top-btn{
    background-color: #3882F6;
    border-radius: 15px;
    border: none;
    width: auto;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 25px ;
    margin-top: 15px;
}

.top-right{
    margin-left: 100px;
}

.img{
    width: 500px;
    height: 250px;
    background-color: grey;
}

.center-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
}

.item-container{
    display: flex;
    justify-content: center;
    gap:50px;
    text-align: center;
}
.img-info{
    width: 100px;
    height: 100px;
    border:blue 2px solid;
    border-radius: 10px;
    padding: 75px 75px;
}

.item{
    max-width: 200px;

}

.title-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px;
}