.body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif,'Courier New', Courier, monospace;
    
}

.top {
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 50px;
   
}
.header{
    margin-bottom:50px;
}
.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 45px;
    font-size: 24px;
    color: #f9faf8;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 45px;   
    margin-right: 45px;
}

a{
    color: #f9faf8;
    text-decoration: none;

}

.top-content{
    display:flex;
   justify-content: center;
   
   
   
}

.top-left{
    max-width: 450px;
}

.main-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

 .sub-text{
    color:#e5e7eb;
    font-size: 18px;
}

.top-btn{
    background-color: #3882F6;
    border-radius: 15px;
    border: none;
    width: auto;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 25px ;
    margin-top: 15px;
}

.top-right{
    margin-left: 100px;
}

.img{
    width: 500px;
    height: 250px;
    background-color: grey;
}

.center-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
}

.item-container{
    display: flex;
    justify-content: center;
    gap:50px;
    text-align: center;
    padding-bottom: 50px;
}
.img-info{
    width: 100px;
    height: 100px;
    border:blue 2px solid;
    border-radius: 10px;
    padding: 75px 75px;
}

.item{
    max-width: 200px;

}

.title-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #e5e7eb;
    padding: 50px;
    align-items: center;
    
    
}

.quote{
    font-size: 36px;
    max-width: 450px;
    font-weight: 100;
    
}

.quote-origin{
    font-size: 20px;
    padding-left: 150px;
    font-weight: bold;
}

.call-to-action-container{
    background-color: #3a6fb8;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 70px ;
  
   margin:70px 150px;
   border-radius: 25px;
}

.action-title{
    color:#e5e7eb;
    font-size: 18px;
    font-weight: bold;
}
.action-text{
    font-size: 16px;
    color: #e5e7eb;
}

.btn-quote{
    border: #e5e7eb 1px solid;
    border-radius: 10px;
}

footer{
  text-align: center;
  background-color: #1F2937;
  color: #f9faf8;
  margin: 0;
  padding: 25px 0;
}